.html {
    background-color: black;
    color: greenyellow;
    font-family: 'Courier New', monospace;
    width: 390px;
    height: 230px;
    overflow: auto;
}

.container {
    padding: 8px
}

.title {
    font-size: 2rem;
    margin: 0 12px 8px;
}

.list {
    margin: 0;
    padding-left: 18px;
    font-size: 12pt;
    text-align: justify
}